version: '3'

services:
    php:
        networks:
            contrib-network:
                aliases:
                    - php
        volumes:
            - ./xdebug.ini.dist:/usr/local/etc/php/conf.d/20-xdebug.ini

    mysql:
        networks:
            contrib-network:
                aliases:
                    - mysql
        ports:
            - "127.0.0.1:33060:3306"

    pgsql:
        networks:
            contrib-network:
                aliases:
                    - pgsql
        ports:
            - "127.0.0.1:54320:5432"

networks:
    contrib-network:
        driver: bridge
        ipam:
            config:
                - subnet: 192.168.190.0/28
                  gateway: 192.168.190.1